.case{
  width: 75%;
  margin: auto;
}
h1,
h2,
h3,
strong{
  font-family: EBGaramond-SemiBold;
  text-align: left;
}
.section,
h2,
h3{
  width: auto;
  padding: 2%;
  margin: 4% 0;
}
h2{
  text-align: center;
}
.text-content,
h3{
  width: auto;
  padding: 0 2%;
}
.img-content{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.journey img,
.flow img,
.mood img{
  width: 100%;
}
.font img{
  width: 50%;
}
.colors img{
  width: 15%;
}
.survey img{
  width: 45%;
}
.results{
  flex-direction: column;
}
.results img{
  width: 75%;
}
.kevin img{
  width: 100%;
}
.sketch img{
  width: 30%;
  margin: auto;
}
.wire{
  flex-wrap: wrap;
}
.wire img{
  width: 23%;
  margin: auto;
}
.gif img{
  width: 50%;
}
img,
a{
  border: 1px solid transparent
}
ul li{
  list-style: none;
  padding: 1%;
  font-style: italic
}
#persona{
  width: 85%;
  margin: auto;
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ddd;
}
#persona div{
  padding: 1%;
}
#prototype a{
  color: #978ba8;
  text-decoration: none;
  border-bottom: 1px solid #978ba8;
}

@media only screen and (max-width: 768px) {
  #persona {
    flex-direction: column;
  }
  #persona .text-content,
  #persona ul li{
    padding: 0;
  }
  .case{
    width: 100%;
  }
  h1{
    padding: 3%;
    text-align: center;
  }
  #prototype a{
    color: #978ba8;
    text-decoration: none;
    border-bottom: 1px solid #978ba8;
  }
  .survey,
  .sketch,
  .gif{
    flex-direction: column;
  }
  .survey img,
  .sketch img,
  .font img{
    width: 75%;
  }
  .kevin img{
    width: 40%;
  }
  .colors img{
    width: 20%;
  }
  .wire img{
    width: 45%;
  }
  .gif img{
    width: 90%;
  }
}
