@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap");
:root {
  --regular: 400;
  --medium: 500;
  --semiBold: 600;

  --red: rgba(51, 8, 49, 1);
  --black: #060606;
  --white: #f2f2f2
}
html,
body,
#root {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  font-weight: var(--regular);
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  background: rgb(25, 4, 44);
  background: -moz-linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgb(51, 8, 49) 51%,
    rgb(49, 13, 83) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgba(51, 8, 49, 1) 51%,
    rgba(49, 13, 83, 1) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  background: linear-gradient(
    145deg,
    rgba(25, 4, 44, 1) 20%,
    rgba(41, 8, 68, 1) 43%,
    rgba(51, 8, 49, 1) 51%,
    rgba(49, 13, 83, 1) 72%,
    rgba(25, 0, 48, 1) 88%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19042c",endColorstr="#190030",GradientType=1);
}
.star {
  background-color: white;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin: 7px;
}
@keyframes pulseSlow {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes pulseFast {
  0% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes shoot {
  0% {
    transform: translatex(0px) translatey(0px);
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translatex(500px) translatey(250px);
    opacity: 0;
  }
}
#horizon {
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  z-index: 1;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
}
h3 {
  font-size: 1.3rem;
}
h1, h2, h3, strong {
  font-weight: var(--semiBold);
}
h1, h2, h3 {
  padding: 1rem 0;
  margin: 2rem 0;
}
p:not('.footer p'), span {
  font-size: 1.1rem;
}
.disclaimers {
  width: 100%;
  text-align: center;
  font-size: .8rem;
}
.footer-wrapper a,
.footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease;
  border: 1px solid transparent;
}
.footer-wrapper a:hover,
.footer a:hover {
  border-bottom: 1px solid var(--white);
}
.footer-wrapper a:visited,
.footer a:visited {
  text-decoration: none;
  color: var(--white);
}
.below-fold {
  width: 100%;
  position: absolute;
  top: 100vh;
}
.work {
  width: 100%;
  /* border: 1px solid red; */
}
.project-open {
  overflow: hidden;
  position: absolute;
}
.tabs {
  /* border: 1px solid blue; */
  display: flex;
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  padding: 5px;
  margin-top: 10vh;
}
.tab {
  /* border: 1px solid palegreen; */
  width: 50%;
  font-size: 1rem;
  text-align: center;
  padding: 2vh 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
.tab:hover {
  border: 1px solid var(--white);
  transition: all 0.3s ease;
}
.tab.active {
  background-color: var(--white);
  color: var(--black);
  font-weight: var(--semiBold);
  transition: background-color 0.3s ease;
}
.tab-content-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0;
  /* border: 1px solid gold; */
}
.tab-content {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid peru; */
}
.tab-content {
  animation: fadeIn .5s;
  /* border: 1px solid red; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* to cover both projects wrapped in anchor tags and those who aren't */
.tab-content > * {
  width: 48%;
  height: 80vh;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.1s ease;
}
.project, .project-link {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewProjectButton {
  background-image: url('images/view.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
}
.projectCloseButton {
  position: fixed;
  top: 10vh;
  right: 10vh;
  background-image: url('images/close.svg');
  width: 70px;
  height: 70px;
  background-size: cover;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
  z-index: 3;
}
.projectCloseButton:hover {
  transform: scale(1.3);
}
.tab-content > *:hover .overlay {
  opacity: 1;
}
.footer-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100vw;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  /* border: 1px solid red */
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
  padding-top: 2vh;
  font-size: 0.8rem;
  /* border: 1px solid blue; */
}
.footer p {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* shirts */

.case {
  width: 75%;
  margin: auto;
}
.img-content {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-content img {
  margin: .5rem
}
.journey img,
.flow img,
.mood img {
  width: 100%;
}
.font img {
  width: 50%;
}
.colors img {
  width: 15%;
}
.survey img {
  width: 45%;
}
.results {
  flex-direction: column;
}
.results img {
  width: 75%;
}
.kevin img {
  width: 100%;
}
.sketch img {
  width: 30%;
  margin: auto;
}
.wire {
  flex-wrap: wrap;
}
.wire img {
  width: 23%;
  margin: auto;
}
.gif img {
  width: 50%;
}
a:not('project-link') {
  border: 1px solid transparent;
}
ul li {
  list-style: none;
  padding: .5rem;
  font-style: italic;
}
#persona {
  width: 90%;
  margin: auto;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ddd;
}
#persona div {
  padding: 1%;
}
#prototype a {
  color: #978ba8;
  text-decoration: none;
  border-bottom: 1px solid #978ba8;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .below-fold {
    width: 100%;
    left: 0;
  }
  .tabs {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
  }
  .tab {
    /* border: 1px solid palegreen; */
    width: 100%;
  }
  .tab-content-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .tab-content > * {
    width: 90%;
  }
  .footer p {
    width: 90%;
  }

  /* shirts */

  #persona {
    flex-direction: column;
  }
  #persona .text-content,
  #persona ul li {
    padding: 0;
  }
  .case {
    width: 95%;
  }
  #prototype a {
    color: #978ba8;
    text-decoration: none;
    border-bottom: 1px solid #978ba8;
  }
  .survey,
  .sketch,
  .gif {
    flex-direction: column;
  }
  .survey img,
  .sketch img,
  .font img,
  .results img {
    width: 90%;
  }
  .kevin img {
    width: 40%;
  }
  .colors img {
    width: 20%;
    margin: 0
  }
  .wire img {
    width: 45%;
  }
  .gif img {
    width: 90%;
  }
}
